*, *::before, *::after{
    box-sizing: border-box;
    margin: 0px;
}

:root{
    --background-color: rgba(22, 163, 74, 0.7);
    font-size: 24px;
}

body{
    background: url('./images/background-image1.jpg');
    background-size:cover;
    color: white;
}

header{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:32px;
    margin-bottom: 160px;

}



ul{
    display: flex;
    justify-content: center;
    gap: 64px;
    list-style: none;
}

#chief-image{
    border-radius: 50%;
}

#home-main{
    background: var(--background-color);
    margin-top: 160px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#flex-container{
    display: flex;
    justify-content: center;
    
}



#flex-container-menu{
    display: flex;
    justify-content: center;
    margin-top: 160px;
    
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.menu-item{
    width: 75vw;
    display: flex;
    
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    height: 160px;
}

#flex-container-contact{
    display: flex;
    justify-content: center;
}

#contact{
    width: 40vw;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 32px 64px;
    gap: 32px;


}