*, *::before, *::after{
    box-sizing: border-box;
    margin: 0px;
}

:root{
    --background-color: rgba(22, 163, 74, 0.7);
    font-size: 24px;
}

body{
    background: url('./images/background-image1.jpg');
    background-size:cover;
    color: white;
}

header{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:32px

}



ul{
    display: flex;
    justify-content: center;
    gap: 64px;
    list-style: none;
}

#chief-image{
    border-radius: 50%;
}

#home-main{
    background: var(--background-color);
    margin-top: 160px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#flexContainer{
    display: flex;
    justify-content: center;
}